.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.booking_room {
  justify-self: flex-end;
}

.back_button {
  margin-left: 1rem;
  color: var(--main1);
  background: none;
  border-radius: 5px;
  border-color: var(--main1);
  padding: 5px 20px;

  &:hover {
    cursor: pointer;
    color: var(--background);
    background-color: var(--main1);
    font-weight: 600;
  }

  &:disabled {
    opacity: 50%;
    color: var(--white);
    border-color: var(--white);

    &:hover{
      cursor: auto;
      color: var(--white);
      background-color: var(--background);
      font-weight: 400;
    }
  }
}

.book_option {
  display: flex;
  justify-content: space-between;
}

.mat-form-field-disabled {
  opacity: 50%;
}
