.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  & form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    row-gap: 1rem;

    & button {
      align-self: center;
      padding: 5px;

      &:enabled {
        color: var(--white);
        background-color: var(--main2);
        border: none;
        border-radius: 5px;
      }
    }
  }
}

.login_field {
  display: flex;
  justify-content: center;
  align-items: center;

  & label {
    flex: 1;
  }

  & input {
    flex: 2;
  }
}

.register {
  border: none;
  background: none;
  color: var(--main1);

  &:hover {
    cursor: pointer;
  }
}

.login_hidden {
  visibility: hidden;
}

.login_loader {
  align-self: center;
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
}