.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h2 {
    margin-left: 1rem;
  }
}

.dashboard_buttons {
  background: var(--background);
  border-color: var(--main1);
  border-radius: 5px;
  padding: 5px 20px;
  color: var(--main1);
  margin-right: 1rem;

  &:hover {
    cursor: pointer;
    color: var(--background);
    font-weight: 600;
    background-color: var(--main1);
  }
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main_calendar {
  width: 33%;
  font-size: 1.3rem;

  & .highlight {
    color: var(--black);
    background-color: var(--main2);
    border-radius: 50%;
  }
}

.book_list {
  padding-right: 1rem;

  & h4 {
    text-align: end;
  }
}

.main_booking {
  text-align: center;
}
