<div class="main">
    <h2>Team {{teamName}}</h2>
    <button class="main_logout" (click)="onLogout()">Log Out</button>
</div>
<div>
    <div *ngIf="(bookedDates$ | async) as dates">
        <div *ngIf="dates.length; else elseBlock">
            <div *ngFor="let date of dates">
                <app-reservation [date]="date"></app-reservation>
            </div>
        </div>
        <ng-template #elseBlock>
            <p>You don't have any reservations</p>
        </ng-template>
    </div>
</div>