/* You can add global styles to this file, and also import other style files */

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #293646;
  --main1: #ca282c;
  --main2: #e89c1e;
  --mat-sys-primary: #5F9EA0;
}

@font-face {
  font-family: head;
  src: url('../public/Oswald-Medium.ttf');
}

@font-face {
  font-family: body;
  src: url('../public/SourceSans3-Medium.ttf');
}

html {
  font-family: body;
  background-color: var(--background);
  color: var(--white);
}

body {
  margin: 0;
}
